# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Flask
instance/
.webassets-cache

# Distribution / packaging
dist/
build/
*.egg-info/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store
